#cordova-context-menu-wrapper {
    z-index: 9999999999999;
    position: fixed;
    top: 0; right: 0; bottom: 25px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: rgba(0,0,0,.55);
}

#cordova-context-menu {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0; bottom: 25px; left: 0;
    width: 100%;
    max-width: 460px;
    height: auto;
    max-height: 330px;
    margin: auto;
    background: rgb(75,75,75);
    border: 2px solid rgba(125,125,125);
}

#cordova-context-menu .cordova-context-menu-entry {
    display: block;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
}

#cordova-context-menu .cordova-context-menu-entry:hover {
    background: rgba(255,255,255,.15);
}